[tool.poetry]
name = "rdkit2ase"
version = "0.1.3"
description = "interface between rdkit and ASE"
authors = ["zincwarecode <zincwarecode@gmail.com>"]
license = "Apache-2.0"
readme = "README.md"

[tool.poetry.urls]
repository = "https://github.com/zincware/rdkit2ase"

[tool.poetry.dependencies]
python = "^3.10"
rdkit = "^2024"
ase = "^3.22"
networkx = "^3"

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.3"
pytest = "^7.4.0"
coverage = "^7.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff.lint]
select = ["E", "F", "N", "C", "I"]
extend-ignore = [
    "D213", "D203", "N802", "N801"
]
